<ion-header no-border>
    <ion-toolbar mode="ios">
      <ion-title>Feed</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let a of articles; let i = index" (click)="openArticle(i)">
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="3" class="date-label">
                <ion-row class="date-label-month">{{ a.published.month }}</ion-row>
                <ion-row class="date-label-day"><ion-img height='5px' src='https://assets.elcomercio.pe/img/elcomercio/apple-touch-icon.png?1556213069'></ion-img></ion-row>
                <ion-row class="date-label-day">{{ a.published}}</ion-row>
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <ion-card-title>{{ a.title }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ a.published}}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-img height='5px' src='https://assets.elcomercio.pe/img/logo_ec.png'></ion-img>
        <ion-card-content>
          <p>{{a.description}} 
            <a href="{{a.links[0].url}}" >
              <ion-icon name="arrow-forward"></ion-icon>
            </a>
            </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>    
</ion-content>
