<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supermio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row ion-justify-content-center>        
        <ion-col class="center">
          <img class="circle-pic" src="/assets/logo.png">
        </ion-col>        
      </ion-row>      
    </ion-card-content>    
  </ion-card>
</ion-content>
